<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Parcel Delivery App</title>
    <link href="../static/css/common/common.css" th:href="@{/css/common/common.css}" rel="stylesheet" />
    <link href="../static/css/user/user-profile-page.css" th:href="@{/css/user/user-profile-page.css}" rel="stylesheet" />
  </head>
  <body>
    <header th:replace="common/header::header"></header>

    <div class="container" id="profile-container-wrapper">
      <div class="profile-container">
        <h2>User Profile</h2>
        <div class="profile-info">
          <p><strong>Username:</strong> <span th:text="${fullName}">mock</span></p>
          <p><strong>Email:</strong> <span th:text="${emailAddress}">mock</span></p>
        </div>
        <a href="/awb" id="orders-hyperlink">View my orders</a>
      </div>
    </div>

    <footer th:replace="common/footer::footer"></footer>
  </body>
</html>
