<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AWB List - Parcel Delivery App</title>
        <link href="../static/css/common/common.css" th:href="@{/css/common/common.css}" rel="stylesheet" />
        <link href="../static/css/admin/all-awbs-page.css" th:href="@{/css/admin/all-awbs-page.css}" rel="stylesheet" />
    </head>
    <body>
        <header th:replace="common/header::header"></header>

        <div class="container" id="awb-list-container-wrapper">
            <div class="awb-list-container">
                <h2>AWB List</h2>
                <div th:each="awb : ${awbList}" class="awb-item">
                    <div>
                        <p><strong>AWB Number:</strong> <span th:text="${awb.uniqueNumber}">mock</span></p>
                        <p><strong>Status:</strong> <span th:text="${awb.status}">mock</span></p>
                        <p><strong>User:</strong> <span th:text="${awb.owner.firstName} + ' ' + ${awb.owner.lastName}">mock</span></p>
                    </div>
                    <a href="#" th:href="@{/awb/{uniqueNumber}(uniqueNumber=${awb.uniqueNumber})}">View Details</a>
                </div>
            </div>
        </div>

        <footer th:replace="common/footer::footer"></footer>
    </body>
</html>
