#awb-list-container-wrapper {
    max-width: 800px;
    margin-bottom: 3em;
}

.awb-list-container {
    margin-top: 5em;
    padding: 2em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.awb-list-container h2 {
    margin-bottom: 1em;
    text-align: center;
}

.awb-item {
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awb-item a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.awb-item a:hover {
    text-decoration: underline;
}

#new-btn-container {
    text-align: center;
    margin: 5px 0 1em 0;
}

#new-awb-btn {
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px 7px;
}

#new-awb-btn:hover {
    cursor: pointer;
    color: green;
    border-color: green;
    transition: .2s;
}